/* Colors */
$white: #FFF;
$black: #000;
$green_faco: #B1d800;
$rojo_faco: #EB0029;
$body-bg: #FFF;

/* Fonts */
$font-lato: 'Lato', sans-serif;

/* Fonts sizes */
$font-size-base:          16px;
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px