/* Colors */
$white: #FFF;
$black: #000;
$green_faco: #98ce1e;
$body-bg: #fff;
$rojo: #Eb0029;
$verde_tenis: #bdd52e;

/* Fonts */
$font-antonio: 'antonio',sans-serif;
$font-antonioL: 'antonioL',sans-serif;
$font-antonioB: 'antonioB',sans-serif;
$font-nova: 'nova', sans-serif;
$font-novaL: 'novaL', sans-serif;
$font-novaB: 'novaB', sans-serif;


/* Fonts sizes */
$font-size-base:          16px;
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px