@font-face { font-family: 'Lato'; src: url("../fonts/Lato/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato/Lato-Bold.svg#eea591db52cf6ebc8992abb7621b9256") format("svg");
  /* Legacy iOS */
  font-style: bold; font-weight: 700; }
@font-face { font-family: 'Lato'; src: url("../fonts/Lato/Lato-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-BoldItalic.svg#030f5996dac0d7b15fbd4081adedf95b") format("svg");
  /* Legacy iOS */
  font-style: italic; font-weight: 700; }
@font-face { font-family: 'Lato'; src: url("../fonts/Lato/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/Lato-Regular.svg#48e70b8825d557df57af3e4f7d4c31be") format("svg");
  /* Legacy iOS */
  font-style: normal; font-weight: 400; }
@font-face { font-family: 'Lato'; src: url("../fonts/Lato/Lato-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Italic.woff") format("woff"), url("../fonts/Lato/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato/Lato-Italic.svg#51ac4eb0bc1817d276ca824c5353e08f") format("svg");
  /* Legacy iOS */
  font-style: italic; font-weight: 400; }
@font-face { font-family: 'Lato'; src: url("../fonts/Lato/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light.ttf") format("truetype"), url("../fonts/Lato/Lato-Light.svg#80d8021909d835b751af094d043ad177") format("svg");
  /* Legacy iOS */
  font-style: normal; font-weight: 300; }
@font-face { font-family: 'Lato'; src: url("../fonts/Lato/Lato-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-LightItalic.svg#7015aa8810c4a9d1026a85e4ddcdf7a4") format("svg");
  /* Legacy iOS */
  font-style: italic; font-weight: 300; }
@font-face { font-family: 'Droid'; src: url("../fonts/Droid/DroidSerif.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Droid/DroidSerif.eot?#iefix") format("embedded-opentype"), url("../fonts/Droid/DroidSerif.woff") format("woff"), url("../fonts/Droid/DroidSerif.ttf") format("truetype"), url("../fonts/Droid/DroidSerif.svg#7015aa8810c4a9d1026a85e4ddcdf723") format("svg");
  /* Legacy iOS */
  font-style: normal; font-weight: 300; }
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; top: 0; left: 0; display: block; }

.slick-track:before, .slick-track:after { display: table; content: ''; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { display: none; float: left; min-height: 1px; }

[dir='rtl'] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-slide { position: relative; }

.slick-dots { bottom: 10px; left: 0; list-style: none; margin: 0 auto; max-width: 130px; padding: 0; position: absolute; right: 0; text-align: center; }
.slick-dots li { display: inline-block; margin-right: 8px; }
.slick-dots li:last-child { margin-right: 0px; }
.slick-dots li button { font-size: 0px; background-color: #e0e0e0; border: none; height: 12px; width: 12px; border-radius: 50%; }
.slick-dots .slick-active button { background-color: #888888; }

/* Colors */
/* Fonts */
/* Fonts sizes */
/* Animations */
@-webkit-keyframes bounce { 0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0); transform: translateY(0); }
  40% { -webkit-transform: translateY(-5px); transform: translateY(-5px); }
  60% { -webkit-transform: translateY(-5px); transform: translateY(-5px); } }
@keyframes bounce { 0%, 20%, 50%, 80%, 100% { -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); }
  40% { -ms-transform: translateY(-5px); -webkit-transform: translateY(-5px); transform: translateY(-5px); }
  60% { -ms-transform: translateY(-5px); -webkit-transform: translateY(-5px); transform: translateY(-5px); } }
/** BASE STYLES **/
html, body { color: #333; background-color: #FFF; font-family: 'Lato', sans-serif; font-size: 100%; font-weight: normal; overflow-x: hidden; }

body { font-family: Lato,sans-serif; font-weight: 400; background: #eee; color: #333; margin: 0; padding: 0; position: relative; }
body:before { background: #fafafa; background: -webkit-linear-gradient(315deg, #fafafa, #fdfdfd); background: linear-gradient(135deg, #fafafa, #fdfdfd); width: 200vw; height: 100vw; right: -140vw; top: -50vw; -webkit-transform: translateZ(0) rotate(-45deg); transform: translateZ(0) rotate(-45deg); z-index: 1; }
body:after { width: 100%; height: 600px; left: 0; top: 0; background: #eee; background: -webkit-linear-gradient(270deg, #fcfcfc, #eee); background: linear-gradient(180deg, #fcfcfc, #eee); z-index: 0; }

*, *:hover, *:focus { outline: none; }

a, a:hover, a:focus { outline: none; }

button, button:hover, button:focus { outline: none; }

img, img:hover, img:focus { outline: none; }

.remodal { max-width: 750px; padding: 15px; }

#wrapper-content { /* Full height */ height: 100%; /* Create the parallax scrolling effect */ padding-bottom: 40px; padding-top: 30px; }
#wrapper-content .mod__nav { background-color: black; color: white; position: relative; width: 100%; padding-top: 10px; font-weight: 200; }
#wrapper-content .mod__nav .mod__nav_list ul a { color: white; font-weight: 200; text-decoration: none; }
#wrapper-content .mod__nav .mod__nav_list .mod__nav_list--spacing li a { margin: 0 10px; }
#wrapper-content .mod__header .caption { margin-left: auto; margin-right: auto; }
#wrapper-content .mod__header .caption h2 { margin: auto; width: 10%; }
#wrapper-content .mod__header .thumbnail { border: 0 none; box-shadow: none; margin: 0; padding: 0; }
#wrapper-content .mod__header .caption { width: 100%; bottom: .3rem; position: absolute; }
#wrapper-content .mod__header .caption h2 { background-color: black; padding: 0 15px; color: white; -webkit-font-smoothing: antialiased; }
#wrapper-content .mod__header .caption span { color: #8fca00; }
#wrapper-content .mod__categories { padding-top: 20px; }
#wrapper-content .mod__categories .thumbnail { border: 0 none; box-shadow: none; margin: 0; padding: 0; opacity: 0.9; }
#wrapper-content .mod__categories .thumbnail img { -webkit-filter: contrast(1); filter: contrast(1); }
#wrapper-content .mod__categories .thumbnail:hover { opacity: inherit; }
#wrapper-content .mod__categories .caption { width: 100%; bottom: 18rem; position: absolute; }
#wrapper-content .mod__categories .caption h2 { text-align: center; padding: 0 11px; color: white; -webkit-font-smoothing: antialiased; }
#wrapper-content .mod__categories .caption p { color: white; text-align: center; }
#wrapper-content .outfit { padding: 0; }
#wrapper-content .mod__carrusel { overflow: hidden; }
#wrapper-content .mod__carrusel .header { padding: 35px 40px 0; margin-bottom: 25px; }
#wrapper-content .mod__carrusel .header h5 { font-family: "Lato"; font-size: 18px; font-weight: 300; margin: 0; }
#wrapper-content .mod__carrusel .header h5 span { color: #8fca00; background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAFklEQVR4AWPoP8VwGIQZ0ABM4gi6OAAXHghyOgg+GgAAAABJRU5ErkJggg==") repeat-x scroll left bottom; padding-bottom: 3px; }
#wrapper-content .mod__carrusel .footer { padding: 0 0 20px; margin: 0; }
#wrapper-content .mod__carrusel .footer a { background-color: #aad500; color: #fff; display: block; font-size: 12px; font-weight: 400; letter-spacing: 1.2px; padding: 15px 0; text-align: center; text-decoration: none; text-transform: uppercase; width: 100%; }
#wrapper-content .mod__carrusel .mod__carrusel_inner { border-bottom: 1px solid #d0d0d0 /*border-top: 1px solid #d0d0d0;*/ }
#wrapper-content .mod__carrusel .mod__carrusel_inner .slick-list { -webkit-transform: translate3d(0px, 0px, 0px); -ms-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
#wrapper-content .mod__carrusel .mod__carrusel_inner .slick-list::before { background-color: #d0d0d0; bottom: 0; content: ""; height: 470px; left: 0; position: absolute; top: 0; width: 1px; z-index: 10; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .slick-list::after { background-color: #d0d0d0; bottom: 0; content: ""; height: 470px; right: 0; position: absolute; top: 0; width: 1px; z-index: 10; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .slick-dots { bottom: -65px; display: block; margin: 0 auto; left: 0; right: 0; padding: 0; text-align: center; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .slick-dots li button { background-color: #e0e0e0; height: 8px; padding: 0; width: 8px; border: 1px solid transparent; border-radius: 50%; margin: 0 2px; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .slick-dots li.slick-active button { background-color: #888; height: 9px; width: 9px; border-color: #fff; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide { height: auto; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a { display: block; border-left: 1px solid #d0d0d0; text-decoration: none; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .img-prod { margin-bottom: 6px; position: relative; background-color: #fff; padding: 15px; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .img-prod img { width: 90%; margin: auto; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail { padding: 10px 20px; min-height: 180px; position: relative; background-color: #F8F8F8; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .marca { color: #888888; font-size: 12px; font-weight: 700; margin-bottom: 12px; padding: 0; text-transform: uppercase; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .descripcion { color: #333333; display: block; font-size: 14px; font-weight: 400; height: 35px; margin-bottom: 14px; overflow: hidden; padding: 0; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .price { margin-bottom: 25px; position: relative; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .price h3, #wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .price h4 { display: block; font-weight: 400; margin: 0; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .price h3 { color: #e4022d; font-size: 16px; font-weight: 400; margin: 10px 0; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .price h4.internet { font-size: 14px; color: #333; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .price h4.normal { font-size: 12px; line-height: 1.6; color: #bbbbbb; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .price h3.cmr { padding-top: 5px; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .price h3.cmr::after { content: ''; height: 35px; width: 25px; position: absolute; background: url(http://www.falabella.com.co/static/site/common/sprite-internos.png) no-repeat 0 0 transparent; background-position: -34px 0px; top: -9px; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a .detail .more { background-color: #bbbbbb; bottom: 0; color: #fff; display: block; font-size: 12px; font-weight: 700; left: 0; letter-spacing: 1.2px; opacity: 0; padding: 10px 0; position: absolute; text-align: center; text-decoration: none; text-transform: uppercase; width: 100%; -webkit-transition: all 0.1s ease-out; transition: all 0.1s ease-out; }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a:hover .img-prod img { -webkit-transform: scale(1.025); -ms-transform: scale(1.025); transform: scale(1.025); }
#wrapper-content .mod__carrusel .mod__carrusel_inner .product-slide a:hover .detail .more { opacity: 1; }
#wrapper-content .mod__selers { background-color: #fff; margin-bottom: 30px; margin-top: 30px; padding-bottom: 30px; }
#wrapper-content .mod__selers .header { padding: 20px; margin-bottom: 0; }
#wrapper-content .mod__selers .header h5 { color: #333; font-size: 24px; font-weight: 300; letter-spacing: 1px; }
#wrapper-content .mod__selers .mod__carrusel_inner { border-top: 1px solid #d0d0d0; }
#wrapper-content .mod__selers .mod__carrusel_inner .slick-dots { bottom: -22px; }
#wrapper-content .mod__products { padding-top: 20px; }
#wrapper-content .mod__products .row { background-color: white; }
#wrapper-content .mod__products .row .mod__products_header { padding: 25px 60px 10px; color: #8fca00; }
#wrapper-content .mod__products .row .mod__products_header h3 { font-weight: 200; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description { border: 1px solid #f0f0f0; padding: 0px; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_head { margin: 20px; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_head .mod__products_content_head_img { margin: 10px; width: 70%; height: 70%; overflow: hidden; -webkit-transform: translate(-5%, -5%); -ms-transform: translate(-5%, -5%); transform: translate(-5%, -5%) /*img{ width: 400px; height: 300px; margin: -75px 0 0 -100px; }*/ }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_head .mod__products_content_head_img img { -webkit-transition: all 1s ease; transition: all 1s ease; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_head .mod__products_content_head_img:hover img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description h5 { color: #888; font-weight: 700; font-size: 0.8rem; line-height: 1.7rem; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description p { margin-top: 6px; min-height: 2.7em; font-weight: 400; margin: 0px; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_name_product { padding: 0px 15px; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_descrition_product { padding: 0px 15px; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_price_promo_product--red { padding: 0px 15px; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_price_promo_product--red p { color: #e4022d; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_price_promo_product--red span { color: black; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_price_normal_product { padding: 15px; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_price_normal_product p { padding-bottom: 6px; }
#wrapper-content .mod__products .row .mod__products_section .mod__products_section_description .mod__products_content_view_product h6 { color: #FFF; background-color: #333; text-transform: uppercase; padding: 10px; margin: 0px; font-weight: 900; font-size: 0.8rem; }
#wrapper-content .mod__products .row .mod__products_footer { padding: 20px 60px 0; }
#wrapper-content .mod__products .row .mod__products_footer .mod__products_footer_button { padding: 0px 5px; }
#wrapper-content .mod__products .row .mod__products_footer .mod__products_footer_button a { color: #bbb; }
#wrapper-content .mod__products .row .mod__products_footer .mod__products_footer_button button { margin-bottom: 20px; min-width: 140px; background: #f9f9f9; color: #bbb; }
#wrapper-content .mod__brands { padding-top: 20px; }
#wrapper-content .mod__brands .row { background-color: white; }
#wrapper-content .mod__brands .row .mod__brands_header { padding: 25px 10px 10px; color: #8fca00; }
#wrapper-content .mod__brands .row .mod__brands_header h5 { font-family: "Lato"; font-weight: 200; color: #333; font-size: 24px; font-weight: 300; letter-spacing: 1px; }
#wrapper-content .mod__brands .row .mod__brands_brands .mod__brands_brand_description { border: 1px solid #f0f0f0; width: 50%; height: 50%; }
#wrapper-content .mod__brands .row .mod__brands_brands .mod__brands_brand_description .mod__brands_img a { background-color: transparent; }
#wrapper-content .mod__brands .row .mod__brands_brands .mod__brands_brand_description .mod__brands_img img { max-width: 100%; opacity: .5; -webkit-transition: all .3s ease; transition: all .3s ease; }
#wrapper-content .mod__brands .row .mod__brands_brands .mod__brands_brand_description .mod__brands_img img:hover { opacity: inherit; }
#wrapper-content .mod__brands .row .mod__brands_footer { padding: 20px 60px 15px; }
#wrapper-content .mod__brands .row .mod__brands_footer h5 { font-weight: 600; font-size: 1rem; }
#wrapper-content .mod__brands .row .mod__brands_footer h5 i { font-weight: 100; font-size: 0.9rem; }
#wrapper-content .mod__trends { padding-top: 20px; }
#wrapper-content .mod__trends .row .align-self-center { padding: 0px; }
#wrapper-content .mod__trends .row div.mod__trends_content.mod__trends_content--absolute { width: 75%; }
#wrapper-content .mod__trends .row .mod__trends_content_header { background-color: white; border-bottom: 2px solid #f0f0f0; padding-bottom: 10px; }
#wrapper-content .mod__trends .row .mod__trends_content_header h4 { color: black; font-weight: 200; }
#wrapper-content .mod__trends .row .mod__trends_content_header h4 span { color: #8fca00; }
#wrapper-content .mod__trends .row .mod__trends_content--relative { position: relative; max-width: 900px; width: 800px; }
#wrapper-content .mod__trends .row .mod__trends_content--absolute { background-color: white; padding: 20px; position: absolute; right: -20px; top: 20px; width: 100%; border-bottom: 4px solid #8fca00; }
#wrapper-content .mod__trends .row .mod__trends_content--absolute #diamond { width: 0; height: 0; border: 20px solid transparent; border-bottom-color: #8fca00; position: relative; top: 40px; left: -40px; }
#wrapper-content .mod__trends .row .mod__trends_content--absolute #diamond:after { content: ''; position: absolute; left: -20px; top: 20px; width: 0; height: 0; border: 20px solid transparent; border-top-color: #8fca00; }
#wrapper-content .mod__trends .row .mod__trends_content--absolute .mod__trends_content_description { padding: 15px 0px; }
#wrapper-content .mod__trends .row .mod__trends_content--absolute .mod__trends_content_description p { padding: 15px 0px; font-weight: 300; }
#wrapper-content .mod__trends .row .mod__trends_content--absolute .mod__trends_content_description button { background-color: black; color: white; width: 100%; font-weight: 200; padding: 10px 100px; }
#wrapper-content .mod__cards { padding-top: 5px; }
#wrapper-content .mod__cards .row { background-color: white; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__cards_description_head { padding: 15px; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__cards_description_head h6 { font-weight: 700; letter-spacing: .075em; text-transform: uppercase; font-size: 0.8rem; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__cards_description_content { padding: 15px; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__cards_description_content p { font-family: Droid Serif,serif; font-weight: 400; font-style: italic; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__cards_description_link { padding: 15px; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__cards_description_link button { background-color: white; font-weight: 100; font-size: 0.9rem; margin-left: 0px; margin-right: 20px; width: 100%; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__cards_description_link button span { font-weight: bolder; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__card_content { border: 1px solid #f0f0f0; padding: 0px; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__card_content--left { padding-left: 1px; }
#wrapper-content .mod__cards .row .mod__cards_row .mod__card_content--right { padding-right: 1px; }

.mod__footer { background-image: url("../images/brands.jpg?V=2017"); /* Full height */ height: 100%; /* Create the parallax scrolling effect */ background-attachment: fixed; background-position: center; padding-top: 5px; }
.mod__footer .row .col-without_padding { padding: 0px; }
.mod__footer .row .line { border-bottom: 2px solid #8fca00; margin-bottom: 2px; }
.mod__footer .row .line .line2 { border-bottom: 2px solid #8fca00; margin-bottom: 2px; }
.mod__footer .row .line .line2 .line3 { border-bottom: 2px solid #8fca00; margin-bottom: 2px; }
.mod__footer .row .line .line2 .line3 h2 { color: white; }
.mod__footer .row .line .line2 .line3 span { color: #8fca00; }

/* MOBILE QUERIES */
@media only screen and (max-width: 767px) { #wrapper-content .mod__header .caption { margin-left: auto; margin-right: auto; }
  #wrapper-content .mod__header .caption h2 { margin: auto; width: 42%; }
  #wrapper-content .mod__products .row .mod__products_footer .mod__products_footer_button { width: 30%; }
  #wrapper-content .mod__products .row .mod__products_footer .mod__products_footer_button button { min-width: 5px; font-size: 0.9rem; }
  #wrapper-content .mod__trends .row .mod__trends_content_consejos { padding: 0px; }
  #wrapper-content .mod__trends .row div.mod__trends_content.mod__trends_content--absolute { width: 100%; }
  #wrapper-content .mod__trends .row div.mod__trends_content.mod__trends_content--absolute #diamond { display: none; }
  #wrapper-content .mod__trends .row .mod__trends_content--relative { position: static; width: 100%; }
  #wrapper-content .mod__trends .row .mod__trends_content--absolute { position: static; width: 100%; }
  #wrapper-content .mod__cards .row .mod__cards_row .mod__card_content { width: 50%; } }
