@charset "UTF-8";
@import "fonts";
@import "slick";
@import "variables";
@import "mixin";

/** BASE STYLES **/
html, body {
  color: #333;
  background-color: $white;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  font-weight: normal;
  overflow-x:hidden;
}

body{
  font-family: Lato,sans-serif;
    font-weight: 400;
    background: #eee;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
  &:before{
        background: #fafafa;
    background: linear-gradient(135deg,#fafafa,#fdfdfd);
    width: 200vw;
    height: 100vw;
    right: -140vw;
    top: -50vw;
    -webkit-transform: translateZ(0) rotate(-45deg);
    transform: translateZ(0) rotate(-45deg);
    z-index: 1;
  }
  &:after{
    width: 100%;
    height: 600px;
    left: 0;
    top: 0;
    background: #eee;
    background: linear-gradient(180deg,#fcfcfc,#eee);
    z-index: 0;
  }
}


*, *:hover, *:focus{outline: none;}
a, a:hover, a:focus{outline: none;} 
button, button:hover, button:focus{outline: none;} 
img, img:hover, img:focus{outline: none;}

.remodal{
  max-width: 750px;
  padding: 15px;
}

#wrapper-content{
  //background-image: url("../images/background-tenis.jpg?V=2017");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  //background-attachment: fixed;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
  padding-bottom: 40px;
  padding-top: 30px;
  .mod__nav{
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    padding-top: 10px;
    font-weight: 200;
    .mod__nav_list{
      ul{
        a{
          color: white;
          font-weight: 200;
          text-decoration: none;
        }
      }
      .mod__nav_list--spacing{
        li{
          a{
            margin: 0 10px;
          }
        }
      }
    }
  }
  .mod__header{
    .caption{
      margin-left: auto;
      margin-right: auto;
      h2{
        margin: auto;
        font-size: 5.9rem;
        //width: 10%;
      }
    }
    .thumbnail{
      border: 0 none;
      box-shadow: none;
      margin:0;
      padding:0;
    }
    .caption {
      width:100%;
      bottom: .3rem;
      position: absolute;
      //background:#000;
      //background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      //background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      //background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      //background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      h2 {
        background-color: black;
        padding: 0 15px;
        color: white;
        -webkit-font-smoothing: antialiased;
      }
      span{
        color: rgb(143, 202, 0);
      }
    }
  }
  .mod__categories{
    padding-top: 20px;
    .thumbnail{
      border: 0 none;
      box-shadow: none;
      margin:0;
      padding:0;
      opacity: 0.9;
      img{
        -webkit-filter: contrast(1);
        filter: contrast(1);
      }
      &:hover{
        opacity: inherit;
      }
    }
    .caption {
      width:100%;
      bottom: 10rem;
      position: absolute;
      h2 {
        text-align: center;
        padding: 0 11px;
        color: white;
        -webkit-font-smoothing: antialiased;
      }
      p{
       color: white;
       text-align: center;
      }
    }
  }
  .outfit{
    padding: 0;
  }
  .mod__carrusel{
    overflow: hidden;
    .header{
      padding: 35px 40px 0;
      margin-bottom: 25px;
      h5{
        font-family: "Lato";
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        span{
          color: #8fca00;
          background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAFklEQVR4AWPoP8VwGIQZ0ABM4gi6OAAXHghyOgg+GgAAAABJRU5ErkJggg==") repeat-x scroll left bottom;
          padding-bottom: 3px;
        }
      }
    }
    .footer{
      padding: 0 0 20px;
      margin: 0;
      a{
        background-color: #aad500;
        color: #fff;
        display: block;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.2px;
        padding: 15px 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
      }
    }
    .mod__carrusel_inner{
      border-bottom: 1px solid #d0d0d0;
      /*border-top: 1px solid #d0d0d0;*/
      .slick-list{
        @include transform(translate3d(0px, 0px, 0px));
        &::before{
          background-color: #d0d0d0;
          bottom: 0;
          content: "";
          height: 470px;
          left: 0;
          position: absolute;
          top: 0;
          width: 1px;
          z-index: 10;
        }
        &::after{
          background-color: #d0d0d0;
          bottom: 0;
          content: "";
          height: 470px;
          right: 0;
          position: absolute;
          top: 0;
          width: 1px;
          z-index: 10;
        }
      }
      .slick-dots {
        bottom: -65px;
        display: block;
        margin: 0 auto;
        left: 0;
        right: 0;
        padding: 0;
        text-align: center;
        li {
          button {
            background-color: #e0e0e0;
            height: 8px;
            padding: 0;
            width: 8px;
            border: 1px solid transparent;
            border-radius: 50%;
            margin: 0 2px;
          }
          &.slick-active button {
            background-color: #888;
            height: 9px;
            width: 9px;
            border-color: #fff;
          }
        }
      }
      .product-slide{
        height: auto;
        a{
          display: block;
          border-left: 1px solid #d0d0d0;
          text-decoration: none;
          .img-prod {
            margin-bottom: 6px;
            position: relative;
            background-color: #fff;
            padding: 15px;
            img {
              width: 90%;
              margin: auto;
              @include transition(all .2s ease-in-out);
            }
          }
          .detail {
            padding: 10px 20px;
            min-height: 180px;
            position: relative;
            background-color: #F8F8F8;
            .marca {
              color: #888888;
              font-size: 12px;
              font-weight: 700;
              margin-bottom: 12px;
              padding: 0;
              text-transform: uppercase;
            }
            .descripcion {
              color: #333333;
              display: block;
              font-size: 14px;
              font-weight: 400;
              height: 35px;
              margin-bottom: 14px;
              overflow: hidden;
              padding: 0;
            }
            .price {
              margin-bottom: 25px;
              position: relative;
              h3, h4 {
                display: block;
                font-weight: 400;
                margin: 0;
              }
              h3 {
                color: #e4022d;
                font-size: 16px;
                font-weight: 400;
                margin: 10px 0;
              }
              h4{
                &.internet{
                  font-size: 14px;
                  color: #333;
                }
                &.normal{
                  font-size: 12px;
                  line-height: 1.6;
                  color: #bbbbbb;
                }

              }
              h3.cmr {
                padding-top: 5px;
                &::after {
                  content: '';
                  height: 35px;
                  width: 25px;
                  position: absolute;
                  background: url(http://www.falabella.com.co/static/site/common/sprite-internos.png) no-repeat 0 0 transparent;
                  background-position: -34px 0px;
                  top: -9px;
                }
              }
            }
            .more{
              background-color: #bbbbbb;
              bottom: 0;
              color: #fff;
              display: block;
              font-size: 12px;
              font-weight: 700;
              left: 0;
              letter-spacing: 1.2px;
              opacity: 0;
              padding: 10px 0;
              position: absolute;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              width: 100%;
              @include transition(all .1s ease-out);
            }
          }
          &:hover{
            .img-prod img {
              @include transform(scale(1.025));
            }
            .detail .more {
              opacity: 1;
            }
          }
        }
      }
    }
}
.mod__selers{
    background-color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
    .header{
      padding: 20px;
      margin-bottom: 0;
      h5{
        color: #333;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
    .mod__carrusel_inner{
      border-top: 1px solid #d0d0d0;
      .slick-dots{
        bottom: -22px;
      }
    }
  }
  .mod__products{
    padding-top: 20px;
    .row{
      background-color: white;
      .mod__products_header{
        padding: 25px 60px 10px;
        color: #8fca00;
        h3{
          font-weight: 200;
        }
      }
      .mod__products_section{
        .mod__products_section_description{
          border: 1px solid #f0f0f0;
          padding: 0px;
          .mod__products_content_head{
            margin: 20px;
            .mod__products_content_head_img{
              margin: 10px;
              width: 70%;
              height: 70%;
              overflow: hidden;
              transform: translate(-5%,-5%);
              img{
                transition: all 1s ease;
              }
              &:hover img{
                transform:scale(1.1);
              }
              /*img{
                width: 400px;
                height: 300px;
                margin: -75px 0 0 -100px;
                }*/
            }
          }
          h5{
            color: #888;
            font-weight: 700;
            font-size: 0.8rem;
            line-height: 1.7rem;
          }
          p{
            margin-top: 6px;
            min-height: 2.7em;
            font-weight: 400;
            margin: 0px;
          }
          .mod__products_content_name_product{
            padding: 0px 15px;
          }
          .mod__products_content_descrition_product{
            padding: 0px 15px;
          }
          .mod__products_content_price_promo_product--red{
            padding: 0px 15px;
            p{
              color: #e4022d;
            }
            span{
              color: black;
            }
          }
          .mod__products_content_price_normal_product{
            padding: 15px;
            p{
              padding-bottom: 6px;
            }
          }
          .mod__products_content_view_product{
            h6{
              color: #FFF;
              background-color: #333;
              text-transform: uppercase;
              padding: 10px;
              margin: 0px;
              font-weight: 900;
              font-size: 0.8rem;
            }
          }
        }
      }
      .mod__products_footer{
        padding: 20px 60px 0;
        .mod__products_footer_button{
          padding: 0px 5px;
          a{
            color: #bbb;
          }
          button{
            margin-bottom: 20px;
            min-width: 140px;
            background: #f9f9f9;
            color: #bbb;
          }
        }
      }
    }
  }
  .mod__brands{
    padding-top: 20px;
    .row{
      background-color: white;
      .mod__brands_header{
        padding: 25px 10px 10px;
        color: #8fca00;
        h5{
          font-family: "Lato";
          font-weight: 200;
          color: #333;
          font-size: 24px;
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
      .mod__brands_brands{
        .mod__brands_brand_description{
          border: 1px solid #f0f0f0;
          width: 50%;
          height: 50%;
          .mod__brands_img{
            a{
              background-color: transparent;
            }
            img{
              max-width: 100%;
              opacity: .5;
              transition: all .3s ease;
              &:hover{
                opacity: inherit;
              }
            }
          }
        }
      }
      .mod__brands_footer{
        padding: 20px 60px 15px;
        h5{
          font-weight: 600;
          font-size: 1rem;
          i{
            font-weight: 100;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  .mod__trends{
    padding-top: 20px;
    .row{
      //background-color: white;
      .align-self-center{
        padding: 0px;
      }
      div.mod__trends_content.mod__trends_content--absolute{
        //border: 1px solid green;
        width: 75%;
      }
      .mod__trends_content_header{
        background-color: white;
        border-bottom: 2px solid #f0f0f0;
        padding-bottom: 10px;
        h4{
          color: black;
          font-weight: 200;
          span{
            color: #8fca00;
          }
        }
      }
      .mod__trends_content--relative{
        position: relative;
        max-width: 900px;
        width: 800px;
      }
      .mod__trends_content--absolute{
        background-color: white;
        padding: 20px;
        position: absolute;
        right: -20px;
        top: 20px;
        width: 100%;
        border-bottom: 4px solid #8fca00;
        #diamond {
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-bottom-color: #8fca00;
            position: relative;
            top: 40px;
            left: -40px;
          }
          #diamond:after {
            content: '';
            position: absolute;
            left: -20px;
            top: 20px;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-top-color: #8fca00;
          }
        .mod__trends_content_description{
          padding: 15px 0px;
          p{
            padding: 15px 0px;
            font-weight: 300;
          }
          button{
            background-color: black;
            color: white;
            width: 100%;
            font-weight: 200;
            padding: 10px 100px;
          }
        }
      }
    }
  }
  .mod__cards{
    padding-top: 5px;
    .row{
      background-color: white;
      .mod__cards_row{
        .mod__cards_description_head{
          padding: 15px;
          h6{
            font-weight: 700;
            letter-spacing: .075em;
            text-transform: uppercase;
            font-size: 0.8rem;
          }
        }
        .mod__cards_description_content{
          padding: 15px;
          p{
            font-family: Droid Serif,serif;
            font-weight: 400;
            font-style: italic;
          }
        }
        .mod__cards_description_link{
          padding: 15px;
          button{
            background-color: white;
            font-weight: 100;
            font-size: 0.9rem;
            margin-left: 0px;
            margin-right: 20px;
            width: 100%;
            span{
              font-weight: bolder;
            }
          }
        }
        .mod__card_content{
          border: 1px solid #f0f0f0;
          padding: 0px;
        }
        .mod__card_content--left{
          padding-left: 1px;
        }
        .mod__card_content--right{
          padding-right: 1px;
        }
      }
    }
  }
}

.mod__footer{
  background-image: url("../images/brands.jpg?V=2017");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
  padding-top: 5px;
  .row{
    //background-color: black;
    .col-without_padding{
      padding: 0px;
    }
    .line{
      border-bottom: 2px solid rgb(143, 202, 0);
      margin-bottom: 2px;
      .line2{
        border-bottom: 2px solid rgb(143, 202, 0);
        margin-bottom: 2px;
        .line3{
          border-bottom: 2px solid rgb(143, 202, 0);
          margin-bottom: 2px;
          h2{
            color: white;
          }
          span{
            color: rgb(143, 202, 0);
          }
        }
      }
    }
  }
}


/* MOBILE QUERIES */
@include screen-small{
  #wrapper-content{
    .mod__header{
      .caption{
        margin-left: auto;
        margin-right: auto;
        h2{
          margin: auto;
          //width: 42%;
          font-size: 1.5rem;
        }
      }
    }
    .mod__products{
      .row{
        .mod__products_footer{
          .mod__products_footer_button{
            width: 30%;
            button{
              min-width: 5px;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    .mod__trends{
      .row{
        .mod__trends_content_consejos{
          padding: 0px;
        }
        div.mod__trends_content.mod__trends_content--absolute {
          width: 100%;
          #diamond{
            display: none;
          }
        }
        .mod__trends_content--relative{
          position: static;
          width: 100%;
        }
        .mod__trends_content--absolute{
          position: static;
          width: 100%;
        }
      }
    }
    .mod__cards{
      .row{
        .mod__cards_row{
          .mod__card_content{
            width: 50%;
          }
        }
      }
    }
  }
}

